.container{
    background-color: lightgray;
    padding: 100px;
    margin: 100px;
    text-align: center;
    border: 1px solid black;
    
}

.imagen-prototip img {
    align-content: center;
    justify-content: center;
    height: 1400px;
    width: 1400px;
    display: block;
}

button {
    background-color: #4CAF50;
    justify-content: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}