body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: black;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    background-color: #e2e2e2;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

a li {
    text-decoration: none;
    color: black;
}

.titulo {
    font-size: 24px;
    margin: 5px 0;
}

.subtitulo {
    font-size: 16px;
    margin: 0;
    color: #666;
    transition-duration: 0.3s;
}

.galeria {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    margin: 20px;
}

.galeria-item {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
    border-color: #333;
    padding: 10px;
    display: flex;
    height: 370px;
    width: 250px;
}

.hero {
    background-color: #053b08be;
    color: white;
    padding: 50px 20px;
    text-align: center;
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #444141;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 380px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 0.2px solid #020202;
}

article:hover {
    transform: translateY(-20px); /*Añadir efecto transición al pasar el ratón*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /*añade sombra*/
    background-color: #f3e9e9;
    transition-duration: 0.3s;
}

img {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    color-scheme: black;
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

footer {
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: #332f2f;
    color: white;
    width: 100%;
    bottom: 0;
}