body{
    font-family: "Cormorant Garamond", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: black;
}

li a {
    text-decoration: none;
    list-style-type: none;
    margin: 0 15px;
    font-size: 18px;
    color: black;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    padding: 20px 0;
    border-bottom: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-links:hover {
    background-color: #041c38;
    transition-duration: 0.3s;

}

.navbar-links {
    display: flex;
    gap: 60px;
    list-style: none;
    padding: 10px 30px;
    margin: 15px 0 0 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.navbar-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #74a2f1;
    padding: 8px 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.navbar-links li a:hover {
    background-color: #2a5298;
    color: rgb(255, 253, 253);
    transform: translateY(-2px);
}

.titulo {
    font-size: 24px;
    margin: 5px 0;
}

.subtitulo {
    font-size: 16px;
    margin: 0;
    color: #666;
    transition-duration: 0.3s;
}

.galeria {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    margin: 20px;
}

.galeria-item {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
    border-color: #333;
    padding: 10px;
    display: flex;
    height: 370px;
    width: 250px;
}

.hero {
    background-color: #053b08be;
    color: white;
    padding: 50px 20px;
    text-align: center;
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #444141;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 380px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 0.2px solid #020202;
}

article:hover {
    transform: translateY(-20px); /*A침adir efecto transici칩n al pasar el rat칩n*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /*a침ade sombra*/
    background-color: #f3e9e9;
    transition-duration: 0.3s;
}

img {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    color-scheme: black;
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

footer {
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: #332f2f;
    color: white;
    width: 100%;
    bottom: 0;
}