body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: black;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}


a li {
    text-decoration: none;
    color: black;
}

.titulo {
    font-size: 24px;
    margin: 5px 0;
}

.subtitulo {
    font-size: 16px;
    margin: 0;
    color: #666;
    transition-duration: 0.3s;
}

.galeria {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    margin: 20px;
}

.galeria-item {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
    border-color: #333;
    padding: 10px;
    display: flex;
    height: 370px;
    width: 250px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444141;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    width: 380px;
    transition: transform 0.3s, box-shadow 0.3s;
}

img {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    color-scheme: black;
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
    
}


footer {
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: #332f2f;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}